.demo-inline-calendar-card {
  width: 300px;
}
.parent {
  background: mediumpurple;
  padding: 1rem;
}
.child {
  border: 1px solid indigo;
  padding: 1rem;
}
.fo-button{
display:flex ;
justify-content: right;
padding-top: 40px;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-right: 15px;
}
.col-lg-4.padding {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 110px;  
}
.slotTitle{
display: flex;
justify-content: space-around;
padding-right: 50px;
}

